* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-shadow: 0px 11px 20px rgba(240, 129, 150, 1);
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
}

#time {
    font-size: 8rem;
}

#name {
    width: 21rem;
    border-bottom: 2px solid whitesmoke;
}

#focus {
    border-bottom: 2px solid floralwhite;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media (max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}